{% extends "base.html" %} {% block title %}{{ company.name }} - Data Game{%
endblock %} {% block content %}

<div class="container" style="margin-top: 90px">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-white">{{ company.name }}</h1>
      <h1 class="text-white"></h1>
      {% if company.company_logos %}
      <div class="mb-3">
        <strong>Logos :</strong>
        {% for logo in company.company_logos %}
        <img
          src="https:{{ logo.url }}"
          class="me-2"
          style="height: 80px; width: auto"
          alt="Logo"
        />
        {% endfor %}
      </div>
      {% endif %} {% if company.start_date %}
      <div class="mb-3">
        <strong>Date de création :</strong>
        {{ company.start_date.strftime('%m/%Y') }}
      </div>
      {% endif %}

      <div class="mb-3">
        <strong>Pays :</strong>
        {% if company.country %}
        <p>{{ get_country_name(company.country) }}</p>
        {% else %}
        <p>Non communiqué</p>
        {% endif %}
      </div>

      {% if company.company_status %}
      <div class="mb-3">
        <strong>Statut :</strong>
        <p>
          {% for status in company.company_status %}
          <span class="badge bg-secondary me-1">{{ status.name }}</span>
          {% endfor %}
        </p>
      </div>
      {% endif %} {% if company.description %}
      <div class="card mb-4 bg-secondary text-white">
        <div class="card-header">
          <h3 class="mb-0">Description</h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{ company.description }}</p>
        </div>
      </div>
      {% endif %}

      <!-- Jeux développés -->
      {% if jeux_associes %}
      <div class="mb-3">
        <strong>Jeux développés :</strong>
        <ul>
          {% for jeu in jeux_associes %}
          <li>
            <a
              href="{{ url_for('jeu_detail', slug=jeu.slug) }}"
              class="text-white"
              >{{ jeu.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="mb-3">
        <strong>Jeux développés :</strong> <span class="text-muted">Aucun</span>
      </div>
      {% endif %} {% if company.game_engines %}
      <div class="mb-3">
        <strong>Moteur graphique :</strong>
        <ul>
          {% for engine in game_engines %}
          <li>
            {{ engine.name }} {% if engine.logos %} {% for logo in engine.logos
            %}
            <img
              src="https:{{ logo.url }}"
              class="me-2"
              style="height: 40px"
              alt="Logo moteur graphique"
            />
            {% endfor %} {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="mb-3">
        <strong>Moteur graphique :</strong>
        <span class="text-muted">Aucun</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
