{% extends "base.html" %}

{% block title %}Recherche - Data Game{% endblock %}

{% block content %}
    <div class="container" style="margin-top:90px;">
        <h2 class="mb-4">Résultats pour "{{ query }}"</h2>
        <!-- Jeux -->
        {% if jeux %}
        <h3>Jeux</h3>
        <ul>
          {% for jeu in jeux %}
            <li><a href="{{ url_for('jeu_detail', slug=jeu.slug) }}">{{ jeu.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- Consoles -->
        {% if consoles %}
        <h3>Consoles</h3>
        <ul>
          {% for console in consoles %}
            <li><a href="{{ url_for('console_detail', slug=console.slug) }}">{{ console.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- Entreprises -->
        {% if entreprises %}
        <h3>Entreprises</h3>
        <ul>
          {% for entreprise in entreprises %}
            <li><a href="{{ url_for('entreprise_detail', slug=entreprise.slug) }}">{{ entreprise.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- Game Engines -->
        {% if engines %}
        <h3>Moteurs graphiques</h3>
        <ul>
          {% for engine in engines %}
            <li>{{ engine.name }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}